.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.actionalert {
    user-select: none;
    background: white;
    padding: 2vw;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--color-5-light-transparent);
    position: relative;
}

.message {
    font-size: 1.6vw;
    font-weight: 400;
    color: var(--color-5);
    margin: 1.4vw 0;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.confirmButton, .cancelButton {
    padding: 0.8vw 1.5vw;
    font-size: 1.3vw;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: var(--color-1);
    font-weight: 400;
}

.confirmButton {
    background-color: var(--color-success);

    transition: background 400ms;
}

.confirmButton:hover {
    background-color: var(--color-success-dark);

    transition: background 400ms;
}

.cancelButton {
    background-color: var(--color-button-delete);

    transition: background 400ms;
}
.cancelButton:hover {
    background-color: var(--color-button-delete-dark);

    transition: background 400ms;
}
.closeButton {
    background-color: var(--color-1-dark);
    padding: 0.5vw 0.7vw;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.5vw;
    font-weight: 400;
    cursor: pointer;

    transition: background 400ms;
}

.closeButton:hover {
    background-color: var(--color-button-delete);

    transition: background 400ms;
}
