.navbar {
    background-color: var(--color-2);
    color: var(--color-5);
    width: 100%;
    height: 13vh;
  }
  
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .elementos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
  }
  
  .buttonMenuPrincipal {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    cursor: pointer;
    user-select: none;
    height: 13vh;
  }

  .buttonMenuPrincipalOpen {
    padding-left: 20vw;
    padding-right: 1vw;
    background: var(--color-5);
  }

  .buttonMenuPrincipalOpen img {
    filter: invert(100%);
  }
  
  .iconMenuPrincipal {
    width: 2.5vw;
    height: 2.5vw;
  }
  
  .menuTitle {
    user-select: none;
    font-size: 1.2vw;
    color: var(--color-1-transparent);
    padding: 0.8vw 0;
  }
  
  .menuPrincipal {
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: var(--color-5);
  }

  .containerMenuPrincipal {
    padding: 1vw;
    display: flex;
    flex-direction: column;

  }
  
  .Link {
    user-select: none;
    text-decoration: none;
    color: var(--color-1);
    padding: 1vw;
    font-size: 1.4vw;
    font-weight: 400;
    margin: 0.6vw 0;
    border-radius: 3px;

    transition: background 400ms;
  }
  
  .Link:hover {
    background-color: var(--color-5-light);

    transition: background 400ms;
  }
  
  .active {
    background-color: var(--color-3);

    transition: background 200ms;
  }
  .active:hover {
    background-color: var(--color-3);

    transition: background 200ms;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .userMenu {
    display: flex;
    position: relative;
    background-color: var(--color-1);
    margin-right: 1vw;
    font-size: 1.9vw;
    font-weight: 400;
    border-radius: 7px;
    user-select: none;

    transition: background 500ms;
  }
  
  .userMenu:hover {
    background-color: var(--color-1-dark);

    transition: background 500ms;
  }
  
  .username {
    width: 100%;
    padding: 0.8vw 1.5vw;
    cursor: pointer;
  }
  
  .dropDownMenu {
    display: flex;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--color-1-dark);
    padding: 1.2vw 0;
    border-radius: 0 0 5px 5px;
  }
  
  .dropDownMenu button {
    cursor: pointer;
    background-color: var(--color-2);
    font-size: 1.4vw;
    padding: 0.8vw 0;
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;

    transition: background 500ms;
  }
  
  .dropDownMenu button:hover {
    background-color: var(--color-3);

    transition: background 500ms;
  }
  
  .menuOpen {
    border-bottom: 1px solid var(--color-5);
    background-color: var(--color-1-dark);
    border-radius: 7px 7px 0 0;
    padding: 0.8vw 2.5vw;
  }
  