.homepage {
    padding: 2vw;
    background-color: var(--color-1);
    color: var(--color-5);
  }
  
  h1 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }
  
  .searchBar {
    margin-bottom: 1.5vw;
    position: relative;
  }
  
  .searchInput {
    width: 100%;
    max-width: 40vw;
    padding: 0.8vw;
    font-size: 1.2vw;
    border: 2px solid var(--color-4);
    border-radius: 4px;
    background-color: white;
  }
  
  .searchResults {
    margin-top: 0.5vw;
    background-color: var(--color-4);
    padding: 0.4vw;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
  }
  
  .resultItem {
    cursor: pointer;
    padding: 0.8vw;
    font-size: 1.5vw;
    font-weight: 400;
    background-color: var(--color-1);
    border-bottom: 1px solid var(--color-4-light);

    transition: background 400ms;
  }
  
  .resultItem:hover {
    background-color: var(--color-1-dark);

    transition: background 400ms;
  }
  
  .guideContainer {
    margin-top: 2vw;
  }

  .titleGuide {
    text-align: center;
    font-size: 2.5vw;
    margin: 2vw 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5vw;
  }
  
  .infoSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .infoSection h2 {
    margin-top: 1vw;
  }

  .infoSection h3 {
    margin-bottom: 1vw;

  }
  
  .infoSection:hover {
    background-color: var(--color-2-transparent);

    transition: background 400ms;
  }
  
  .titleSections {
    text-align: center;
    font-size: 1.4vw;
  }

  .infoSection p, .infoSection li {
    text-align: left;
    font-size: 1.5vw;
    font-weight: 400;
    margin: 1.3vw 0;
  }

  .infoSection p span {
    font-weight: 500;
  }

  .infoSection li {
    list-style-type: decimal;
  }

  .image, .video {
    width: 100%;
    height: auto;
    margin-top: 1vw;
    border-radius: 6px;
  }

  .iconImage {
    width: 4vw;
    height: 4vw;
  }
  .btnImage {
    width: 13vw;
    height: 10vh;
  }